<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Articles Import</title>
    <link rel="stylesheet" href="https://www.lightningdesignsystem.com/assets/styles/salesforce-lightning-design-system.min.css">
</head>
<body>
    <div class="slds-grid slds-grid_align-center slds-m-top_large">
        <div class="slds-box slds-size_1-of-3">
            <h1 class="slds-text-heading_large slds-text-align_center">Upload Knowledge Article</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data" class="slds-form-element">
                <div class="slds-form-element__control slds-m-bottom_medium">
                    <label class="slds-form-element__label" for="file">Select DOCX File:</label>
                    <input type="file" name="files[]" id="file" class="slds-input" required multiple>
                </div>
                <button type="submit" class="slds-button slds-button_brand slds-button_stretch">Upload and Convert</button>
            </form>
        </div>
    </div>
    <div class="slds-grid slds-grid_align-center slds-m-top_large">
        <div class="slds-box slds-size_1-of-3">
            <a href="/download" class="slds-button slds-button_neutral slds-button_stretch">Download Generated ZIP</a>
        </div>
    </div>
</body>
</html>